body {
	background-color: silver;
	font-family: "Time News Roman";
}

.header{
	border-radius:0 0 30px 30px;
	color: white;
}

.menu-bar{
	border-radius:40px 40px 0 0;
}

.navbar{
	border-radius:20px 20px 0 0;
}

.dropdown-menu{
	background-color:#f5deb3;
}

.logo{
	animation: rotation 9s infinite linear;
}

@keyframes rotation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
	}
}